fastapi==0.110.0
uvicorn==0.28.0
pymongo==4.6.2
sentence-transformers==2.5.1
redis==5.0.3
playwright==1.42.0
unstructured>=0.14.2
langchain==0.1.12
langchain-community==0.0.28
langsmith==0.1.31
python-dotenv==1.0.1
requests==2.31.0
python-multipart==0.0.9
pydantic==2.6.4
pydantic-settings==2.2.1
tavily-python==0.3.3
easyocr==1.7.1
numpy<2.0.0
